body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0; }

.js-post-load {
  display: none;
  /*background-image: url('../images/backg.jpg');*/
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh; }
  .js-post-load.show {
    display: block; }

.js-pre-load.hide {
  display: none; }

canvas {
  border: 1px solid black;
  /*width: 100vw;
	height: 100vh;*/ }
